/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background-color: navajowhite;
    position: relative;
    margin: auto;
}

h1{
    color: coral;
    font-size:80px;

}

h2{
  text-align: center;
  font-size: 40px;
  color: coral;
}

p{
    text-align: center;
}

a {

}






.row{
      width: 1000px;
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: orange;/*文字色*/
      background: #FFF;
      border: solid 3px coral;/*線*/
      border-radius: 10px;/*角の丸み*/
  }
  .row p {
      margin: 0;
      padding: 0;
  }

.title {
    text-align: center;
}

/*
 * ボタンの共通設定
 */
.common-button {
  margin: 10px
}

/*
 * トップ画面（index.hbs）に関する設定
 */


.index-user_name {
}

.index-user_name_text {
    width: 200px;
    border: solid 0.8px grey;
    margin-bottom: 10px;

}




.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {


}

.room-exit {
  margin-top: 5px;
  text-align: right;
}

.room-exit_button {

}
