<div class="container">
    <div style="text-align:center;" >
        <h1>Node Chat</h1>
    </div>
    <div class="row justify-content-center">
        <form method="post" action="/room" align="center">
            <div class="index-user_name">
                <p>ユーザ名<br>
                <input type="text" id="userName" name="userName" class="index-user_name_text"></p>
            </div>
            <div class="index-enter">
                <input type="button" value="ログイン" class="btn btn-warning" onclick="enter();">
            </div></p>
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>
